<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="pelvis">About Us</h1>
			<p class="text-normal just-redline">Welcome to Miracle Back Brace Company your number one source for all things.  We are the manufacturers of the revolutionary back brace that quickly gains popularity among lower back pain sufferers.  Due to our innovative patented design our back brace is incredibly effective while at the same time being light and designed especially to hide under your clothes. There is a gigantic industry out there of back brace products, but as you probably already know from your own experience they are so to speak not very effective, look bulky, and catch unwanted attention of everyone around you. We do not think you should be spending your money on another product that does not help you, so we invite you to take a risk free trial wearing our Miracle Brace. Choose from men, women, and pregnant designs since each one is uniquely designed and comes in variety of colours.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="mech">Check Out THIS DESIGNS</h1>
			<p class="text-normal">There are different designs and colours available for men, women, and for the pregnant women too.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="chain">OUR GOAL</h1>
			<p class="text-normal just-redline">Our goal is to appear to buyers as friendly, honest, selling quality tested merchandise.On our site we sell a book written by a top Brain and Spine doctor, which describes the most effective types of back strengthening exercises with a ultimate goal of avoiding back surgery. We highly recommend it.We hope you enjoy our service as much as we enjoy offering them to you. If you have any questions or comments, please don’t hesitate to contact us.</p>
			<p class="text-normal just-redline">Sincerely,</p>
			<p class="text-normal just-redline">Rosalie Dudkiewicz,  CEO</p>
		</div>
	</div>
</div>
<div class="container-fluid" id="shop">
	<div class="row">
		<div id="effect" class="effects clearfix">
			<%= render :partial => 'home/products_main' %>
		</div>
	</div>
</div>