<div class="container-fluid intro">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="empty padding-bottom-only">Contacts</h1>
			<div class="col-md-4 col-sm-4 footer-midcol contact-sm col-md-offset-1">
				<p class="text-small text-left">Address: </p>
				<p class="text-small text-left">101 Warren Road </p>
				<p class="text-small text-left">West Orange N.J. 07052</p>
			</div>
			<div class="col-md-4 col-sm-4 footer-midcol contact-sm">
				<p class="text-small text-left">Social Media:</p>
				<ul>
					<li><a href="https://twitter.com/Rosaliemiracle1" class="twitter-icon">Twitter</a></li>
					<li><a href="https://www.facebook.com/pages/Miracle-Back-Brace/593091704154647" class="facebook-icon">Facebook</a></li>
					<!-- <li><a href="#" class="pintrest-icon">Pintrest</a></li> -->
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-3 col-sm-3 footer-midcol contact-sm">
				<p class="text-small text-left">Phone:</p>
				<p class="text-small text-left">(541) 754-3010</p>
				<p class="text-small text-left">Email:</p>
				<p class="text-small text-left">rosadudkiewicz@gmail.com</p>
			</div>
			
			
			
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 sign-up">
					<%= render :partial => 'home/newsletter' %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" id="shop">
	<div class="row">
		<div id="effect" class="effects clearfix">
			<%= render :partial => 'home/products_main' %>
		</div>
	</div>
</div>

