<div class="container-fluid intro" id="about">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="pelvis">Miracle Back Brace</h1>
			<p class="text-normal">Do you suffer from acute or chronic lower back pain during sleeping, driving, sitting, bending forward or standing for long periods of time?  </p>
			<p class="text-normal">If you say yes to any of the above, then Miracle Back Brace is for you!!</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 section-text nopadding text-normal">
			<div class="wp6">
				<h2 class="front-frame">Design</h2>
				<p class="left-margin">Miracle Back Brace is different from any back brace on the market!</p>
				<p class="left-margin">Designed to protect your spine and nerves from be compressed during sitting, driving or sleeping</p>
				<ul class="left-margin">
					<li>Eliminates or substantially reduces low back pain</li>
					<li>Support back muscles</li>
					<li>Promote proper posture</li>
					<li>Visual attractive</li>
					<li>The only back brace designed to be worn under clothes</li>
					<li>Comfortable to be worn day and night</li>
					<li>Uniquely designed for women, pregnant, and men</li>
				</ul>
				<div class="thin-sep"></div>
			</div>
		</div>
		<div class="col-md-4 section-4"></div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 section-3">
			<div class="logo-3 wp3"></div>
		</div>
		<div class="col-md-8 section-text nopadding text-normal small-screen-height-1">
			<div class="wp6 padding-top ">
				<p class="just-redline padding-top-bottom">Did you ever wish there was a back brace that could be worn discretely under your clothes without attracting anyone’s attention. Miracle Back Brace solves that inconvenient problem. For a first time there is a Brace that combines functionality with comfort and elegance.</p>
				<p class="just-redline padding-top-bottom">Do not think for a moment that Miracle Back Brace may not be very effective because it is light and elegant. Quite to the contrary, this amazing device provides unparalleled back support and improves posture as it has been extensively tested and made strong believers out  of many users. We would love to hear your story as well how  this brace transformed your daily life.</p>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img frame-red">
				<div class="arrow"></div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 section-text-big nopadding">
			<div class="wp6">
				<h2 class="front-frame">Men</h2>
				<ul>
					<li>Substantially reduces or eliminates lower back pain during sitting, driving, and sleeping </li>
					<li>Uniquely designed to be worn comfortably under your work clothes, or a business suit</li>
					<li>Miracle Back brace is soft and comfortable. Most important it is not visible and can be worn discreetly</li>
					<li>Promotes proper posture</li>
				</ul>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img section-small-1">
				<div class="arrow"></div>
			</div>
		</div>
		<div class="col-md-4 section-text-big nopadding">
			<div class="wp6">
				<h2 class="front-frame">Women</h2>
				<ul>
					<li>Substantially reduces or eliminates lower back pain during sitting, driving, and sleeping </li>
					<li>Uniquely designed to be worn comfortably under any clothes, and even one piece swim suit</li>
					<li>Miracle Back brace is soft and comfortable. Most important it is not visible and can be worn discreetly</li>
					<li>Designed especially for women</li>
					<li>Promotes proper posture</li>
				</ul>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img section-small-2">
				<div class="arrow"></div>
			</div>
		</div>
		<div class="col-md-4 section-text-big nopadding">
			<div class="wp6">
				<h2 class="front-frame">Pregnant women</h2>
				<ul>
					<li>Substantially reduces or eliminates lower back pain during sitting, driving, and sleeping</li>
					<li>Uniquely designed to be worn comfortably under any clothes, and even one piece swim suit</li>
					<li>Miracle Back brace is soft and comfortable. Most important it is not visible and can be worn discreetly</li>
					<li>Designed especially for pregnant women</li>
					<li>Promotes proper posture</li>
				</ul>
				<div class="thin-sep"></div>
			</div>
			<div class="small-featured-img section-small-3">
				<div class="arrow"></div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid intro" id="about">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<p class="text-normal just-redline">There are about 150 - 200 million adults that suffer from low back pain in United States, and it is the second most common reason people seek a doctor.  This health problem results in about 2.4 million Americans chronically disabled and temporarily on disability.  Lower back pain affects the spine’s stability, flexibility, and strength as result cause pain, discomfort and stiffness during daily living activities such as sitting, driving or sleeping. Low back can acute or chronic. It can be caused by herniated discs, spinal stenosis, fractures, osteoarthritis or injury, it presses against the spinal nerves, and as a result it stimulates pain during daily living activities such as a sitting, sleeping, driving or bending.   Likewise, low pain back is also resulted from, the shifting of the vertebrae caused by unequal pressure of the muscles supporting the spine column. This can occur due to overuse or injury of the muscles or ligaments, uneven muscular stress, emotional tension.</p>
			
		</div>
	</div>
</div>