<div class="hero"></div>
<div class="container faq">
    <div class="panel-group" id="accordion">
        <div class="faqHeader">FAQ</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="mouse-pointer" term="collapseOne">I want to buy a theme - what are the steps?</a>
                </h4>
            </div>
            <div class="content" term="collapseOne">
                <div class="panel-body">
                    Buying a theme on <strong>PrepBootstrap</strong> is really simple. Each theme has a live preview. 
                    Once you have selected a theme or template, which is to your liking, you can quickly and securely pay via Paypal.
                    <br />
                    Once the transaction is complete, you gain full access to the purchased product. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="mouse-pointer" term="collapseTwo">Is this the latest version of an item</a>
                </h4>
            </div>
            <div class="content" term="collapseTwo">
                <div class="panel-body">
                    Each item in <strong>PrepBootstrap</strong> is maintained to its latest version. This ensures its smooth operation.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="mouse-pointer" term="collapseThree">Is this the latest version of an item</a>
                </h4>
            </div>
            <div class="content" term="collapseThree">
                <div class="panel-body">
                    Each item in <strong>PrepBootstrap</strong> is maintained to its latest version. This ensures its smooth operation.
                </div>
            </div>
        </div>
    </div>
</div>
