<%= render :partial => 'home/products_shop' %>
<div class="container-fluid" id="shop">
	<div class="row">
		<div id="effect" class="effects clearfix">
			<%= render :partial => 'home/products_main' %>
		</div>
	</div>
</div>
