<div class="container">
	<div class="row">
		<div class="col-md-4 footer-leftcol">
			<p><span class="bold-16p">Miracle Back Brace</span><br>
			101 Warren Road<br>
			West Orange N.J. 07052<br>
			<!-- <a href="javascript:;" data-toggle="modal" data-target=".bs-privacy-modal-lg">Privacy policy</a>
			<a href="javascript:;" data-toggle="modal" data-target=".bs-refund-modal-lg">Refund policy</a><br> -->
		</div>
		<div class="col-md-4 footer-midcol">
			<ul>
				<li><a href="https://twitter.com/Rosaliemiracle1" class="twitter-icon">Twitter</a></li>
				<li><a href="https://www.facebook.com/pages/Miracle-Back-Brace/593091704154647" class="facebook-icon">Facebook</a></li>
				<!-- <li><a href="#" class="pintrest-icon">Pintrest</a></li> -->
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 footer-rightcol">
			<a href="javascript:;" data-toggle="modal" data-target=".bs-privacy-modal-lg">Privacy policy</a>
			<a href="javascript:;" data-toggle="modal" data-target=".bs-refund-modal-lg">Refund policy</a><br>
		</div>
		<div class="col-md-12 footer-leftcol padding-top-sm">
			<p>© Miracle Back Brace 2015 - 2016 All Rights Reserved.</p>
		</div>
	</div>
</div>
<div class="modal fade bs-refund-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Refund policy" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Refund Policy</h4>
      </div>
      <div class="modal-body privacy">
      		<p>We are proud of our products and strongly believe that you will love it. However if not satisfied with the product for whatever reason after trying it on simply send it back to us in unused condition in the original box within 30 days from the time of purchase. Just pay required shipping cost and send it with any carrier to the address on this page or on your receipt inside the box for a full refund.</p>
      		<br>
      		<br>
      		<br>
      		<p>Send it to: Miracle Back Brace</p>
      		<p>101 Warren Road</p>
      		<p>West Orange n.J. 07052</p>
	       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-privacy-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Privacy policy" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Miracle Back Brace LLC  Privacy Policy</h4>
      </div>
      <div class="modal-body privacy">
      		<br>
      		<p>This privacy policy discloses the privacy practices for (website address). This privacy policy applies solely to information collected by this web site. It will notify you of the following:</p>
	        <ol>
	        	<li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
	        	<li>What choices are available to you regarding the use of your data.</li>
	        	<li>The security procedures in place to protect the misuse of your information.</li>
	        	<li>How you can correct any inaccuracies in the information.</li>
	        </ol>
	        <br>
	        <p><strong>Information Collection, Use, and Sharing</strong></p>
	        <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>
	        <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</p>
	        <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>
	        <br>
	        <p><strong>Your Access to and Control Over Information</strong></p>
	        <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website: </p>
	        <ul>
	        	<li>See what data we have about you, if any.</li>
	        	<li>Change/correct any data we have about you.</li>
	        	<li>Have us delete any data we have about you.</li>
	        	<li>Express any concern you have about our use of your data.</li>
	        </ul>
	        <br>
	        <p><strong>Security</strong></p>
	        <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>
	        <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>
	        <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
	        <br>
	        <p><strong>Updates</strong></p>
	        <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
	        <br>
	        <p><strong>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at  973-771-4491 or via email.</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->